<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Update profile for {{user.name}}</h4>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="container-fluid">
          <form id="update-form" class="form-horizontal" role="form">
            <fieldset>

            <!-- ID (hidden) -->
            <input type="hidden" name="email" value="{{user.email}}">

            <!-- Email -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="textinput">Email</label>
                <div class="col-sm-10">
                    <input value="{{user.email}}" type="text" class="form-control" name="email" disabled>
                </div>
            </div>

            <!-- Full name -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="textinput">Full name</label>
                <div class="col-sm-10">
                    <input value="{{user.fullname}}" type="text" class="form-control" name="fullname">
                </div>
            </div>

            <!-- Old password -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="textinput">Old password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="old_password">
                </div>
            </div>

            <!-- New password -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="textinput">New password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="new_password">
                </div>
            </div>

            <!-- Retype new password -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="textinput">Retype new password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="new_password_confirm">
                </div>
            </div>

            </fieldset>
          </form>
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" data-action="update" class="btn btn-primary">Update Profile</button>
    </div>
  </div>
</div>