<div class="container">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Express Passport Application</h1>

        <p>Login:</p>

        <a href="/auth/local/login" class="btn btn-success"><span class="fa fa-user"></span> Login</a>
        <a href="/auth/facebook/login" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/google/login" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
    </div>
</div>