.page-header {
  padding-bottom: 40px;
}
.hidden {
  display: none;
}
.table-thumbnail {
  min-height: 30px;
}
#framecontent {
  height: 500px;
  border: 1px solid #e4e4e4;
}
.top15 {
  margin-top: 15px;
}
.top30 {
  margin-top: 30px;
}
.bottom15 {
  margin-bottom: 15px;
}
.bottom30 {
  margin-bottom: 30px;
}
textarea {
  resize: vertical;
}
