<!doctype html>
<html>
<head>
    {{> common-title }}

    <!-- stylesheets -->
    {{> common-essential-stylesheets }}

    <!-- custom body style -->
    <style>
        body { padding-top:40px; padding-bottom: 40px; }
    </style>

</head>
<body>

    <!-- header -->
    {{> common-header }}

    <!-- session flash messages -->
    {{> common-flash-messages }}

    <!-- main content -->
    {{> home-content }}

    <!-- essential scripts -->
    {{> common-essential-scripts }}

    <!-- main js app -->
    <script src="/javascript/home.js"></script>

</body>
</html>