<html>
  <head></head>
  <body>
    <% if (messages) { %>
      <% for (var message in messages) { %>
        <p><%= messages[message] %></p>    
      <% } %>
    <% } %>
    <form action="/auth/local/signup" method="post">
      <div>
        <label>Email</label>
        <input type="text" name="email">
      </div>
      <div>
        <label>Full name</label>
        <input type="text" name="fullname">
      </div>
      <div>
        <label>Password</label>
        <input type="password" name="password">
      </div>
      <button type="submit">Signup</button>
    </form>
  </body>
</html>