<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <!-- header -->
        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <!-- SIGNUP FORM -->
        <form action="/auth/local/signup" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Full name</label>
                <input type="text" class="form-control" name="fullname">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-success btn-lg">Signup</button>
        </form>

        <hr>

        <p>Already have an account? <a href="/auth/local/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>

</div>